{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block body %}
    <style>
        body {
            width: 100%;
            background-image: url("{% static 'static_files/img/doctor_1.jpg' %}");
            background-repeat: no-repeat;
        }
    </style>

    <body>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">

                <div class="card text-center"
                     style="margin-top: 100px;  background-color: rgba(0, 29, 56, 0.8); ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Password reset</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body text-left ">
                        <div class="container">


                            <h3 style="color:#6ce26c" class="mt-3"> Password reset sent</h3>
                            <p class="mt-4 ">We’ve emailed you instructions for setting your password, if an account
                                exists with the email you entered. You should receive them shortly.</p>

                            <p class="mt-4">If you don’t receive an email, please make sure you’ve entered the address
                                you registered with, and check your spam folder.</p>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>


{% endblock body %}