{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block body %}

    <style>
        body {
            width: 100%;
            background-image: url("{% static 'static_files/img/doctor_1.jpg' %}");
            background-repeat: no-repeat;
        }
    </style>

    <body>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">

                <div class="card text-center"
                     style="margin-top: 100px;  background-color: rgba(0, 29, 56, 0.8); ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Password reset</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body text-left mt-3">
                        <div class="container ">

                            <strong style=" color: #6ce26c ">Forgotten your password? Enter your email address below,
                                and we’ll email instructions for setting a new one.
                            </strong>


                            <form method="post" class="mt-5">

                                {% csrf_token %}
                                {{ form|crispy }}

                                <input class="boxed-btn2 mb-3 mt-3" type="submit" value="Send Email">

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock body %}