{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block body %}
    <style>
        body {
            width: 100%;
            background-image: url("{% static 'static_files/img/doctor_1.jpg' %}");
            background-repeat: no-repeat;
        }
    </style>

    <body>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">

                <div class="card text-center"
                     style="margin-top: 100px;  background-color: rgba(0, 29, 56, 0.8); ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Password reset</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body text-left">
                        <div class="container">


                            <h3 class="mt-1" style="color:#6ce26c ">Password reset Complete</h3>


                            <h4 style="color:lightgrey " class="mt-4 mb-2">Your password has been set. You may go ahead
                                and log in now.</h4>
                            <br/>

                            <a href="/accounts/sign-in/" class="active "
                               style="color: #00D363; margin-bottom: 40px; font-size: x-large;  "> Login</a>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>


{% endblock body %}