{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block body %}



    <script>
        $(function () {

            $("#id_password").css("color", "white");

        });


    </script>
    <style>
        body {
            width: 100%;
            background-image: url("{% static 'static_files/img/doctor_1.jpg' %}");
            background-repeat: no-repeat;
        }
    </style>
    <body>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">

                <div class="card text-center"
                     style="margin-top: 100px;  background-color: rgba(0, 29, 56, 0.8); ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">New Password</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body text-left mt-5">
                        <div class="container">
                            <h4 style="color:lightgrey ">Please enter your new password twice so we can verify you typed
                                it in correctly.</h4>
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}

                                <input class="boxed-btn2 mt-30" type="submit" value="Update Password">
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>

{% endblock body %}